body {
    font-family:'Courier';
}

.p5_canvas_container {
    position: absolute;
    left:0px;
    top:64px;
    width:512px;
    height:512px;
}

.menu_container {
    position: absolute;
    left:0px;
    top:64px;
    width:512px;
    height:512px;
    background-color: #1F1F1F;
}
.sidebar_container {
    position: absolute;
    left:512px;
    top:0px;
    width:256px;
    height:576px;
    background-color: #1F1F1F;
}

.sidebar_title {
    width:256px;
    height:64px;
    text-align:center;
    color:white;
    margin-top:10px;
}

.top_menu_bar {
    position: absolute;
    left:0px;
    top:0px;
    width:512px;
    height:64px;
    background-color: #1F1F1F;
}

.panel_stat_currency {
    position: absolute;
    left:136px;
    top:8px;
    width:240px;
    height:48px;
    background-color: #141414;
}


.align_right {
    text-align: right;
}

.stat_paragraph {
    color:white;
    margin:0px;
    padding:0px;
    padding-top:4px;
}

.link_button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left:5px;
    padding-right:5px;
    color:#111111;
    background-color:#EEEEEE;
}

.link_button:hover {
    color:#222222;
    background-color:#DDDDDD;
}

.link_button:active {
    color:#333333;
    background-color:#CCCCCC;
}

.t20 {
    font-size:20px;
}

.t16 {
    font-size:16px;
}

.t14 {
    font-size:14px;
}

.t12 {
    font-size:12px;
}

.t10 {
    font-size:10px;
}

.stat_container {
    padding:5px;
}

.btn_white {
    background-color:#F1F1F1;
    color:black;
    border:none;
}

.btn_white:hover {
    background-color:#E1E1E1;
}

.btn_white:active {
    background-color:#A1A1A1;
}

.spawnbtn {
    position:absolute;
    left:392px;
    top:8px;
    width:112px;
    height:48px;
    font-family: 'Courier';
}

.resetbtn {
    position:absolute;
    left:520px;
    top:552px;
    width:240px;
    height:18px;
    font-family: 'Courier';
}

.prestigebtn {
    position:absolute;
    left:8px;
    top:36px;
    width:112px;
    height:18px;
    color:#ED6A5A;
    font-family: 'Courier';
}

.achievementsbtn {
    position:absolute;
    left:8px;
    top:8px;
    width:112px;
    height:16px;
    font-family: 'Courier';
}

canvas {
    position: absolute;
    left:0px;
    top:0px;
}

.upgrade_panel {
    color:white;
    margin:5px;
    border-width:1px;
    border-style:none none solid solid;
    border-color:white;
}

.sidebar_titletext {
    font-size:20px;
}

.tc1 {
    color:white;
}

.tc2 {
    color:#DDDDDD;
}

.tc3 {
    color:#AAAAAA;
}

.tc4 {
    color:#888888;
}

.upgrade_container {
    overflow-y: scroll;
}

.btn_upgrade_buy {
    width:20%;
    height:10%;
    padding:0px;
    margin:0px;
    font-family: 'Courier';
}

.btn_prestige_buy {
    width:40%;
    height:12%;
    padding:0px;
    margin:0px;
    font-family: 'Courier';
}

.bigmenu_container {
    padding:12px;
    color: white;
}

.bigmenu_header {

}

.t_green {
    color:#048A81;
}

.t_orange {
    color:#ED6A5A;
}

.prestige_controls {
    color:white;
    margin:5px;
    border-width:1px;
    border-style:none none solid solid;
    border-color:white;
}

.footer {
    position:absolute;
    left:0px;
    top:576px;
    width:768px;
    height:16px;
    background-color:#333333;
}

.footer_content {
    color:#DDDDDD;
    font-size:12px;
    padding-left:300px;
}